body {
  text-align: right
}

.bg-light {
  background-color: #f1f1ff !important;
}

.gotobtn {
  position: absolute;
  left: 5px;
  top: 8px;
}

@media (max-width: 768px) {
  .gotobtn {
    margin-top: 5px;
    text-align: center;
    position: inherit;
  }
}

@media (min-width: 768px) {
  .alert-primary {
    padding-left: 90px;
  }
}

.custom-file-input:lang(en)~.custom-file-label::after {
  content: "انتخاب فایل";
}

.custom-file-label::after {
  left: 0;
  right: unset;
}

.custom-file-input {
  cursor: pointer;
}