body {
  text-align: right;
  font-family: Tahoma;
}

h3 {
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

.bg-light {
  background-color: #f1f1ff !important;
}

.gotobtn {
  position: absolute;
  left: 5px;
  top: 8px;
}

@media (max-width: 768px) {
  .gotobtn {
    margin-top: 5px;
    text-align: center;
    position: inherit;
  }
}

.fileManager {
  text-align: left;
  background: antiquewhite;
  padding: 5px 11px;
  border-radius: 5px;
}

span.fileSize {
  font-size: 12px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .alert-primary {
    padding-left: 90px;
  }
}